BasedOnStyle: LLVM
BreakBeforeBraces: Attach
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: Always
BreakBeforeBinaryOperators: None
IndentWidth: 4
IndentCaseLabels: true
ColumnLimit: 120
